.parent-container{
    padding: 0;
    margin: 0;
    height: 90vh;
    width: 100%;
}
.manage-emp-nav{
    height: 6%;
    width: 100%;
}

.manage-emp-nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

.manage-emp-nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5vw;
    text-decoration: none;
    color: var(--all-page-text-color);
    background-color: var(--page-div-background-color);
    padding: 0px 5vw;
}

.manage-emp-nav ul li a:hover{
    background-color: var(--link-hover-color);
}

.manage-emp-content{
    height: 94%;
    padding-top: 10vh;
}