<div class="parent-container">
    <div class="home-page-container">
        <div class="page-header">
            <form class="search"> <!-- Search Bar-->
                <input type="text" placeholder="Search.." name="search">
            </form>
        </div>
        <div class="page-nav">
            <div class="nav-company-name">
                LOGO
            </div>
            <div class="nav-link-container">
                <ul>
                    <li>
                        <a routerLink="my-home" routerLinkActive="active-link">
                            <div class="link-icon-name"><i class="bi bi-house"></i>
                                <p class="nav-text">HOME</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="me" routerLinkActive="active-link">
                            <div class="link-icon-name"><i class="bi bi-person"></i>
                                <p class="nav-text">ME</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="my-team" routerLinkActive="active-link">
                            <div class="link-icon-name"><i class="bi bi-people"></i>
                                <p class="nav-text">MY TEAM</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="org" routerLinkActive="active-link">
                            <div class="link-icon-name"><i class="bi bi-buildings"></i>
                                <p class="nav-text">ORG</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="manage-emp" routerLinkActive="active-link">
                            <div class="link-icon-name"><i class="bi bi-gear"></i>
                                <p class="nav-text">Manage Emp...</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>