<div class="login-container">
    <div class="form-container"><!--left container-->
        <img src="assets/login-wallpaper-design-img.png" alt="login-image-crop" id="login-image-crop">
        <form id="login-form">

            <div class="form-top-image"></div>
            <div class="form-bottom-div">
                <select name="person" id="select-person">
                    <option value="hr">{{"hr" | uppercase}}</option>
                    <option value="employee">{{"employee" | uppercase}}</option>
                </select>
                <input type="text" name="name">
                <input type="password" name="password">
                <button (click)="submit()">Submit</button>
            </div>

        </form>
    </div>
</div>