.parent-container {
    min-height: 100vh;
    height: auto;
    width: 100%;
    /* background-color: skyblue; */
    padding: 0;
    margin: 0;

}

.summary-div {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.summary-top {
    height: 45%;
    width: 100%;
}

.onleave-today {
    height: 100%;
    width: 52%;
    background-color: var(--page-div-background-color);
    border: var(--div-border);
    display: flex;
    flex-direction: column;
}

div.summary-bottom {
    height: 40%;
    width: 100%;
    display: flex;
}


.ontime {
    height: 100%;
    width: 25%;
    background-color: var(--page-div-background-color);
    border: var(--div-border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.late {
    height: 100%;
    width: 25%;
    background-color: var(--page-div-background-color);
    margin-left: 2%;
    border: var(--div-border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.onleave-today-heading ,  .ontime-heading,  .late-heading{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    font-size: 1rem;
    letter-spacing: 2px;
}

.onleave-today-person  , .ontime-emp , .late-emp{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
}

.onleave-today-box {
    height: 50px;
    width: 50px;
    background-color: rgb(219, 200, 200);
    margin-left: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 500;
}

.ontime-inner{
    height: 70%;
    width: 90%;
    border-left: 3px solid rgb(28, 212, 245);
    
}

.late-inner{
    height: 70%;
    width: 90%;
    border-left: 3px solid rgb(218, 61, 250);
}

.ontime-emp , .late-emp{
    font-size: xx-large;
    padding-left: 2rem;
}

.person1{background-color: rgb(137, 125, 194);}
.person2{background-color: rgb(173, 250, 240)}
.person3{background-color: rgb(168, 115, 151)}
.person4{background-color: rgb(180, 230, 161)}
.person5{background-color: rgb(197, 168, 114)}
.person6{background-color: rgb(136, 124, 197);}
.person7{background-color: rgb(165, 245, 222)}