<div class="parent-container">
    <div class="summary-div">
        <div class="summary-top">
            <!-- on leave today upper div tag -->
            <div class="onleave-today">
                <div class="onleave-today-heading">
                    <p>{{"Who is on leave today"}}</p>
                </div>
                <div class="onleave-today-person">
                    <div class="onleave-today-box person1">AA</div>
                    <div class="onleave-today-box person2">BB</div>
                    <div class="onleave-today-box person3">CC</div>
                    <div class="onleave-today-box person4">DD</div>
                    <div class="onleave-today-box person5">EE</div>
                    <div class="onleave-today-box person6">FF</div>
                    <div class="onleave-today-box person7">GG</div>
                </div>
            </div>
        </div>
        <div class="summary-bottom">
            <div class="ontime">
                <div class="ontime-inner">
                    <div class="ontime-heading">{{"Employees On Time today"}}</div>
                    <div class="ontime-emp">3</div>
                </div>
            </div>
            <div class="late">
                <div class="late-inner">
                    <div class="late-heading">{{"Late Arrivals today"}}</div>
                    <div class="late-emp">11</div>
                </div>
            </div>
        </div>
    </div>
</div>